<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="USARoadTripContainer" connectionString="metadata=res://*/EntityModels.USARoadTripDataModel.csdl|res://*/EntityModels.USARoadTripDataModel.ssdl|res://*/EntityModels.USARoadTripDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=roadtrip;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="4194304" executionTimeout="3600" />
  </system.web>
  <system.serviceModel>
    <services>
    <service name="USARoadTrip.Web.RoadTripServices">
      <endpoint address="RoadTripServices" binding="basicHttpBinding" bindingConfiguration="USARoadTrip.Web.RoadTripServicesBinding" contract="USARoadTrip.Web.IRoadTripServices" bindingNamespace="http://localhost:1601">
      </endpoint>
    </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="USARoadTrip.Web.RoadTripServicesBinding" maxReceivedMessageSize="4194304">
          <security mode="None" />
          <readerQuotas maxArrayLength="16384" maxStringContentLength="16384" maxDepth="32" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>